---
# main task yaml import or includes  
#
#
# import_tasks: 
# tags: 

- name: Check for RHEL operating system
  debug:
    msg: "Detected ansible_os_family is {{ ansible_os_family }}"
  failed_when: ansible_os_family != "RedHat" or ansible_os_family != "CentOS"

